@import url('font.css');
@import url('root.css');
@import url('reset.css');

body {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

.scale-select {
    display: flex;
    margin-top: 3rem;
    gap: 5rem;
    width: 100%;
    justify-content: center;
}
